.container {
  min-height: 622px;
  margin-bottom: 1rem;
}

.month {
  display: flex;
  flex-direction: column;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .container {
    min-height: 536px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .container {
    min-height: 386px;
  }
}

@media (min-width: 361px) and (max-width: 576px) {
  .container {
    min-height: 364px;
  }
}

@media (max-width: 360px) {
  .container {
    min-height: 306px;
  }
}
