.container {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 8px;
}

.caret {
  cursor: pointer;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  user-select: none;
}

.caret:hover,
.caret:focus,
.caret:active {
  border: 1px solid;
  border-radius: 50%;
}

.current {
  flex-grow: 2;
  text-align: center;
  font-size: 1.75rem;
  user-select: none;
}

.year {
  color: var(--main-title-color);
}

.month {
  color: var(--main-subtitle-color);
}

@media (min-width: 576px) and (max-width: 768px) {
  .current {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .current {
    font-size: 1.25rem;
  }
}
