.container {
  display: flex;
  margin: 0.5rem 0;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  color: var(--main-text-color);
}

.box {
  display: flex;
}

.itembox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 68px;
}

.item {
  margin: 0.1rem;
  font-size: 1.25rem;
  color: var(--main-title-color);
}

.itembox:last-of-type {
  align-items: center;
}

.description {
  margin-right: 0.25rem;
  font-size: 0.85rem;
  color: var(--calendar-text-color);
}

.indicator {
  display: flex;
  align-items: center;
  font-size: 2rem;
  width: 38px;
  color: var(--main-title-color);
}
