.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  position: absolute;
}

.container a {
  text-decoration: none;
  cursor: pointer;
  color: var(--main-title-color);
}

.container a:hover,
.container a:active,
.container a:focus {
  text-decoration: underline;
}

.container h6 {
  font-weight: lighter;
}

.title,
.subtitle,
.description {
  text-align: center;
}

.title {
  line-height: 2;
  font-size: 2rem;
  color: var(--main-title-color);
}

.subtitle {
  line-height: 1.75;
  font-size: 1.75rem;
  color: var(--main-subtitle-color);
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;

  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

@media (max-width: 576px) {
  .title {
    line-height: 1.5;
    font-size: 1.5rem;
  }

  .subtitle {
    line-height: 1.25;
    font-size: 1.25rem;
  }

  .description {
    line-height: 1;
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .title {
    line-height: 2;
    font-size: 2rem;
  }

  .subtitle {
    line-height: 1.75;
    font-size: 1.75rem;
  }

  .description {
    line-height: 1.5;
    font-size: 1.5rem;
  }
}
