.container {
  min-height: 100vh;
  min-width: 100vw;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  background: linear-gradient(
    to bottom,
    var(--main-bg-color),
    var(--secondary-bg-color)
  );
}

.main {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
