.container {
  min-height: 855px;
}

.container p {
  color: var(--main-title-color);
}

.month {
  display: flex;
  flex-direction: column;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .container {
    min-height: 715px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .container {
    min-height: 435px;
  }
}

@media (min-width: 361px) and (max-width: 576px) {
  .container {
    min-height: 365px;
  }
}

@media (max-width: 360px) {
  .container {
    min-height: 245px;
  }
}
