.container {
  position: relative;
  align-self: flex-end;
  display: inline-block;
  width: 40px;
  height: 25px;
  margin: 1rem;
}
.container input[type='checkbox'] {
  display: none;
}
.container .switch {
  position: absolute;
  cursor: pointer;
  background-color: var(--main-subtitle-color);
  border-radius: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.container .switch::before {
  position: absolute;
  content: '';
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background-color: var(--calendar-bg-color);
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.container input[type='checkbox']:checked + .switch::before {
  transform: translateX(15px);
  background-color: var(--main-subtitle-color);
}
.container input[type='checkbox']:checked + .switch {
  background-color: var(--main-title-color);
}
