.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weekDay {
  width: 102px;
  text-align: center;
  padding: 8px 0;
}

@media (max-width: 768px) {
  .container {
  }

  .weekDay {
    width: 62px;
  }
}
